<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creación de Productos</title>
    <link rel="stylesheet" href="addproduct.css" />
  </head>
  <body>
    <div class="container">
      <div class="product-titlep">
        <h1>Area De Creacion de Productos</h1>
      </div>
        <div class="form-product">
           <form method="POST" action="/productos" enctype="multipart/form-data">
            <input
            type="text"
            name="pdc_nombre"
            placeholder="Nombre del producto"
          />
          <% if(arraySecciones && arraySecciones.length > 0){ %>
          <select name="pdc_fk_seccion">
            <% arraySecciones.forEach(Sec => { %>
            <option value="<%= Sec.sec_id %>"><%= Sec.sec_nombre %></option>
            <% }) %>
          </select>
          <% } %>
          <!--<input type="number" name="pdc_fk_seccion" placeholder="#seccion">-->
          <input type="text" name="pdc_descripcion" placeholder="descripcion" />
          <% if (arrayMarcas && arrayMarcas.length > 0){ %>
          <select name="pdc_fk_marca">
            <% arrayMarcas.forEach(Mar => { %>
            <option value="<%= Mar.mar_id %>"><%= Mar.mar_nombre %></option>
            <% }) %>
          </select>
          <% } %>
          <!--<input type="text" name="pdc_fk_marca" placeholder="#marca">-->
          <% if(arrayColores && arrayColores.length > 0) { %>
          <select name="pdc_fk_color">
            <% arrayColores.forEach(Col => { %>
            <option value="<%= Col.col_id %>"><%= Col.col_nombre %></option>
            <% }) %>
          </select>
          <% } %>
          <!--<input type="text" name="pdc_fk_color" placeholder="#color">-->
          <input type="text" name="cant_xs" placeholder="#cantidad xs" />
          <input type="text" name="cant_s" placeholder="#cantidad s" />
          <input type="text" name="cant_m" placeholder="#cantidad m" />
          <input type="text" name="cant_l" placeholder="#cantidad l" />
          <input type="text" name="cant_xl" placeholder="#cantidad xl" />
          <input type="text" name="pdc_valor" placeholder="valor" />
          <!--<input type="text" name="nombreprod" placeholder="Nombre del producto">-->
          <input type="file" name="pdc_imagen" />
          <div class="btn-addproduc">
          <button class="subproduc" type="submit">Agregar Producto</button>
          </div>
          </form>
        </div>
    </div>
  </body>
</html>
