<!DOCTYPE html5>
    <html lang="en">

    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="main.css" rel="stylesheet">
        <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
    </head>

    <body>
        <div class="container">

           
            
            <!--Lista de productos:-->
            <% if (prodList && prodList.length > 0)  { %>
                <div class="conten-cad">
                  
                
                    <% prodList.forEach(objeto => { %>
                    <div class="cardProd">    
                        <!--ID: <%= objeto.pdc_id %>-->
                        <div class="divImg">
                            <img src="<%= objeto.pdc_imagen %>" alt="imagen de producto">
                        </div>
                        <div class="descripcion">
                            <p> <%= objeto.pdc_fk_marca%></p>
                            <p> <%= objeto.pdc_nombre %></p>
                            <p> <%= objeto.pdc_descripcion %></p>
                            <p> <%= objeto.pdc_valor %></p>
                            <div class="btn-shop">
                                <button> <spam>Agregar al Carrito </spam>
                                    <div class="btn-shop-car">
                                        <img src="carr.ico" alt="car-shop">
                                    </div>
                                </button>
                                
                            </div>
                        </div>
                    </div>    
                    <% }) %>
                </div>
            <% }else{ %>
                <div class="home-title">
                    <h1>"Donde la moda encuentra la comodidad."</h1>
                </div>
                <div class="eslide">
                    <img class="items" src="mod1.jpg" alt="Nueva Colecciòn">
                    <img class="items" src="mod2.jpg" alt="Nueva Colecciòn">
                    <img class="items" src="mod3.jpg" alt="Nueva Colecciòn">
                    <img class="items" src="mod4.jpg" alt="Nueva Colecciòn">
                   <!-- <div class="eslide-title">
                        <p>Diseño y Moda a Tu Alcance</p>
                    </div>-->
                </div> 

                <div class="categories-p">
                    <div class="titlesp">
                        <h2 class="title-categories">Categorias Principales</h2>
                        <p>"La moda es una forma de expresión. Haz una declaración audaz con nuestras prendas exclusivas."</p>
                    </div>
                    <div class="imgcateories">
                        <div class="product">
                            <img src="barbarian.png" alt="">
                        
                            
                        </div>

                        <div class="product">
                            <img src="poloredd.png" alt="">
                            <h3 class="title-prod">Polos</h3>
                            <p class="title-prod">$60.000</p>
                            
                        </div>
                        
                        <div class="product">
                            <img src="poloredd.png" alt="">
                            <p class="title-prod">Elegantes</p>
                            <p class="title-prod">$30.000</p>
                        </div>
                        <div class="product">
                            <img src="poloredd.png" alt="">
                            <h3 class="title-prod">Sports</h3>
                            <p class="title-prod">$60.000</p>
                            
                        </div>
                        
                    </div>
                </div>

               <div class="banner-p">
                    <div class="flyer-banner">
                        <img src="backgroundt.jpg" alt="">
                    </div>
                    <div class="flyer-img">
                        <div class="direcc">
                            <p>12 Tiendas Ubicadas en las mejores Ciudades del Pais</p>
                        </div>
                        <div class="recom">
                            <p>"Encuentra Una tienda cerca de Ti"</p>
                        </div>
                        <div class="btn-storeS">
                            <button class="btnr">TIENDAS</button>
                        </div>
                        
                        
                    </div>
                </div>
    
                
            <% } %>   
            <div class="pagination">
                <% if (currentPage) { %>
                <% if (currentPage > 1) { %>
                    <a class="my-link" data-gender="<%= gender %>" data-page="<%= currentPage - 1 %>" data-pageSize="<%= pageSize %>">Anterior</a>
                    <% } %>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <% if (i === currentPage) { %>
                            <span class="current-page"><%= i %></span>
                            <% }else{ %>
                                <a class="my-link" data-gender="<%= gender %>" data-page="<%= i %>" data-pageSize="<%= pageSize %>"><%= i %></a>
                            <% } %>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                        <a class="my-link" data-gender="<%= gender %>" data-page="<%= currentPage + 1 %>" data-pageSize="<%= pageSize %>">Anterior</a>
                        <!--<a href="/?page=<%= currentPage + 1 %>&pageSize=<%= pageSize %>">Siguiente</a>-->
                    <% } %>    
                <% } %>    
            </div> 
        </div>
        
    </body>
        <script src="main.js"></script>
    </html>